body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative; /* 确保header相对定位 */
    z-index: 1; /* 确保header在最前面 */
}

header h1 {
    color: #fff; /* 确保游戏名称的颜色为白色 */
    position: relative; /* 确保h1相对定位 */
    z-index: 2; /* 确保h1在header的前面 */
}

main {
    flex: 1;
    padding: 2rem;
    margin-bottom: 100px; /* Add margin to prevent content overlap with footer */
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    height: 70px;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: fixed; /* Change from relative to fixed */
    bottom: 0;
    left: 0; /* Ensure footer is aligned to the left */
    flex-shrink: 0;
}
